.class1{
    background-color: rgb(250, 195, 218);
    color: black;
    font-family: Verdana, sans-serif;
}

.class2{
    font-size: 24px;
}

#special1{
    color: blue;
    font-size: 36px;
}

#special2{
    background-color: chartreuse;
    font-weight: bold;
    font-size: 24px;
}